src/main/resources/serviceAccountKey.json
src/main/resources/duckServiceAccountKey.json
src/main/resources/application.properties
src/main/resources/application-API-KEY.properties

*.json

.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
